<html>
<head>
<title>Menu</title>
</head>
<body>
 
<a HREF="/pagamento">Controle de Pagamentos</a> 
</br></br>
<a HREF="/aliquota">CRUD - Al&iacute;quotas de INSS</a> 
</br></br>
<a HREF="/cvalores">Gerar Tabela</a>
</br></br>
</br></br>
</br></br>
<b>Diagramas</b></br>
Sequ&ecirc;ncia</br>
<ul>
  <li>Cadastro de usu&aacute;rios</li>
  <li>Registro de ocorr&ecirc;ncias</li>
</ul>
</br>
Componentes



</body>
</html>


